JWT_SECRET=<generate with: openssl rand -base64 32> OR <[Convert]::ToBase64String((1..32 | ForEach-Object { Get-Random -Maximum 256 }))>
DB_URL=jdbc:postgresql://localhost:5433/catalog_db
DB_USERNAME=catalog_user
DB_PASSWORD=catalog_pass